/* ----------------------------
   2025.11.09
   Author: Hong Sumin(sumin5400@gmail.com)
   Description: header menu section CSS
----------------------------- */



/* ----------------------------------------- 전체 설정 ----------------------------------------- */

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Zalando Sans SemiExpanded", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#onLogo {
    width: 20px;
    height: 20px;
    display: block;
    color: inherit;
}

/* ----------------------------------------- 헤더(메뉴) 컨테이너 ----------------------------------------- */

.header-container {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.left-box,
.center-box,
.right-box {
    height: 40px;
    padding: 10px 20px;
    font-weight: 100;
    /* 헤더 폰트 사이즈 설정 */
    font-size: 9pt;
    display: flex;
    align-items: center;
}

.left-box {
    justify-content: flex-start;
}

.right-box {
    justify-content: flex-end;
    gap: 20px;
}

.menu-nav {
    position: relative;
    display: inline-block;
}

.menu-title {
    user-select: none;
}

.menu-itemList {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    overflow: hidden;
    height: 0;
    transition: height .30s ease;
    will-change: height;
}

.menu-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.menu-item {
    white-space: nowrap;
    padding: 5px 0;
}

/* 메뉴 아이템 호버 효과 */
.menu-item:hover {
    font-style: oblique;
}

.menu-item:first-child {
    border-top: 0;
}



/* ----------------------------------------- 헤더(메뉴) 배경색 전환 ----------------------------------------- */
/*
data-theme="dark" 혹은 data-theme="light" 속성을 붙여서 사용
data-theme="dark" 경우 메뉴 색 흰색
data-theme="light" 경우 메뉴 색 검정색
*/
/* ----------------------------------------------------------------------------------------------------- */


/* 로고가 부모의 color를 따르도록 */
.header-container .icon {
    fill: currentColor;
}

/* 텍스트 요소들이 확실히 상속받게 */
.header-container,
.header-container button,
.header-container .menu-title,
.header-container .menu-item {
    color: inherit;
}